.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;

  grid-template-areas:
  "h h"
  "n s";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr; 
}


.app-wrapper-content {
    grid-area: s;
    background-color: rgb(127, 168, 192);
}

ul{
  list-style: none;
}

